.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    border: 1px solid black;
    border-radius: 0.8em;
    background-color: white;
   
    overflow: hidden;
    transition: transform 150 ease;

    &:hover{
        transform: scale(1.05);
    }
}

.card__img{
    width: 100%;   
    aspect-ratio: 1;
    position: relative; 

}